.scrollable-container {
  max-height: 300px; 
  overflow-y: auto;
  border: 1px solid #ccc; 
}

.btn-purple {
  background-color: #9C54A6; 
  color: white; 
}

.btn-purple:hover {
  background-color: #7B3E80; 
}

.btn-purple.active {
  background-color: #6C346E; 
}